*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
    overflow: hidden;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    overflow: hidden;
}

.h1, h2, h3{
    color: var(--text-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 15rem;
    width: 15rem;
    background: #ccc;
    text-align: center;
    border-radius: 3rem;
    margin: 2rem;   
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 30%;
    color: #000;
    background: #000;
    font-size: 2rem;
    margin: 1rem 0;

}

.box-container .box h3 {
    font-size: 6px;
    color: #ccc;

}

.box-container .box p {
    padding: 0 10px;
    font-size: 16px;
}
.secciones {
    color: var(--text-color);
}